/*
0-600px:  Phone
600px -900px:  Table-portrait
900px=1200px  : Table-landscap
1200px-1800px  : Normal css will be applied
1800px above :  Big Desktops

$breakpoint arguement choices:
-phone
-tab-port
-tab-land
-big-desktop

1em-16px;
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin-top: 3.8rem;
  position: relative; }

/*

  pd->  padding
  mtb-> margin-top-bottom
  mlr-> margin-left-right

*/
.danger {
  background-color: #ff6b6b;
  color: #fff; }

.success {
  background-color: #26a29a;
  color: #fff; }

.heading-Primary {
  padding: 1.2rem;
  text-align: center;
  margin: 1rem 0rem; }

.active {
  background-color: rgba(255, 255, 255, 0.8);
  color: #2f363f; }

.pd-4 {
  padding: 4rem; }

.pd-3 {
  padding: 3rem; }

.pd-2 {
  padding: 2rem; }

.pd-1 {
  padding: 1rem; }

.pd-half {
  padding: 0.5rem; }

.mtb-half {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mtb-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mtb-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mtb-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mtb-4 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.mrl-half {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.mrl-1 {
  margin-left: 1rem;
  margin-right: 1rem; }

.mrl-2 {
  margin-left: 2rem;
  margin-right: 2rem; }

.mrl-3 {
  margin-left: 3rem;
  margin-right: 3rem; }

.mrl-4 {
  margin-left: 4rem;
  margin-right: 4rem; }

.height-full {
  max-height: 100vh; }

.height-half-m {
  height: 75vh; }

.height-half {
  height: 50vh; }

.height-quater {
  height: 25vh; }

.bttn-block {
  width: 100%;
  background-color: #2f363f;
  color: #fff;
  border: none;
  margin: 1rem 0rem; }
  .bttn-block:hover {
    background-color: #fff;
    color: #2f363f;
    border: 1px solid #2f363f; }

.Navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #2f363f;
  box-shadow: 0.4rem 0.2rem 0.3rem rgba(47, 54, 63, 0.5);
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 8889; }
  .Navbar-logo {
    width: 10vw; }
  .Navbar-container {
    width: 80vw;
    display: block; }
    @media (max-width: 75em) {
      .Navbar-container {
        display: block; } }
    @media (max-width: 56.25em) {
      .Navbar-container {
        display: block; } }
    @media (max-width: 37.5em) {
      .Navbar-container {
        display: none; } }
  .Navbar-menu {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-self: right;
    margin: 0rem 2rem;
    float: right; }
    .Navbar-menu--list {
      width: 20%;
      display: block;
      text-align: center;
      list-style: none;
      text-decoration: none;
      margin: 0rem 0.2rem;
      text-align: center; }
      .Navbar-menu--list:hover {
        background-color: rgba(255, 255, 255, 0.8); }
      .Navbar-menu--list__link {
        display: block;
        text-decoration: none;
        font-size: 1.4rem;
        padding: 1rem;
        color: #fff; }
        .Navbar-menu--list__link:hover {
          color: #2f363f !important; }

.banner {
  width: 100vw;
  height: auto;
  position: relative; }
  .banner--image__show {
    width: 100vw;
    height: 90vh; }
  .banner--content {
    background-image: linear-gradient(to left bottom, rgba(255, 255, 255, 0.5), rgba(47, 54, 63, 0.4));
    width: 100%;
    height: 90vh;
    text-align: center;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .banner--content-heading {
      font-size: 3rem; }
    .banner--content-caption {
      font-size: 1.8rem; }
      @media (max-width: 56.25em) {
        .banner--content-caption {
          width: 80%;
          margin: 0 auto; } }

.genInfo {
  width: 100vw;
  height: 50vh;
  background-color: #f5f5f5;
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 56.25em) {
    .genInfo {
      height: auto; } }
  @media (max-width: 37.5em) {
    .genInfo {
      height: auto;
      padding: 1rem; } }
  .genInfo-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem; }
    @media (max-width: 56.25em) {
      .genInfo-container {
        width: 90%;
        height: auto; } }
    @media (max-width: 37.5em) {
      .genInfo-container {
        width: 100%;
        height: auto; } }
    .genInfo-container__heading {
      font-size: 2rem; }
      @media (max-width: 37.5em) {
        .genInfo-container__heading {
          font-size: 2.5rem; } }
    .genInfo-container__text {
      font-size: 1.6rem;
      line-height: 2.5rem;
      color: #999999; }

.whywe {
  background-color: #fff;
  width: 92vw;
  height: auto;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  border-radius: 2px; }
  @media (max-width: 56.25em) {
    .whywe {
      padding: 1rem; } }
  @media (max-width: 37.5em) {
    .whywe {
      padding: 1rem;
      font-size: 1.3rem; } }
  .whywe-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 0.3rem;
    margin-bottom: 4rem; }
  .whywe-card {
    width: 25%;
    height: 40vh;
    margin: 2rem;
    position: relative;
    border-radius: 0.3rem; }
    @media (max-width: 56.25em) {
      .whywe-card {
        width: 100%;
        height: 100%;
        margin: 1rem 0rem; } }
    @media (max-width: 37.5em) {
      .whywe-card {
        width: 100%;
        height: 100%;
        margin: 1rem 0rem; } }
    .whywe-card--container {
      height: 100%;
      overflow: hidden; }
    .whywe-card--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden; }
    .whywe-card:hover .whywe-card--img {
      transform: scale(1.2);
      transition: all 0.6s;
      overflow: hidden; }
    .whywe-card--hidetext {
      background-color: rgba(255, 255, 255, 0.6);
      position: absolute;
      width: 100%;
      bottom: 0%;
      left: 0%;
      height: 12.5%;
      overflow-y: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
      text-overflow: ellipsis; }
      @media (max-width: 75em) {
        .whywe-card--hidetext {
          height: 12%; } }
      @media (max-width: 56.25em) {
        .whywe-card--hidetext {
          height: 8%; } }
      @media (max-width: 37.5em) {
        .whywe-card--hidetext {
          height: 12%; } }
      .whywe-card--hidetext__p {
        width: 100%;
        height: 100%;
        padding: 0.6rem;
        font-size: 1.2rem;
        text-align: center;
        color: #2f363f; }
    .whywe-card--header {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-self: start; }
      .whywe-card--header__title {
        width: 85%;
        text-transform: uppercase;
        align-self: center; }
      .whywe-card--header__arrowIcon {
        width: 15%;
        padding: 0.8rem;
        font-size: 1.6rem !important; }
    .whywe-card--content {
      margin-top: 0.8rem;
      padding: 0.5rem;
      font-size: 1.4rem;
      font-weight: 600;
      text-align: center; }
    .whywe-card:hover .whywe-card--hidetext {
      overflow-y: none;
      height: 100%;
      transition: all 0.5s; }

.techInfo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0rem; }
  .techInfo-container {
    padding: 1rem;
    width: 95%;
    height: auto;
    background-color: #fff;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
  .techInfo-heading {
    width: 100%;
    padding: 1rem;
    text-align: center;
    margin: 1rem 0rem;
    text-transform: uppercase; }
  .techInfo-content {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0rem 0rem 0.4rem rgba(47, 54, 63, 0.6);
    margin-bottom: 5rem;
    background-color: #fff; }
    @media (max-width: 56.25em) {
      .techInfo-content {
        padding: 0.5rem;
        flex-direction: column-reverse; } }
    @media (max-width: 37.5em) {
      .techInfo-content {
        padding: 0.5rem;
        flex-direction: column-reverse; } }
    .techInfo-content--info {
      padding: 1rem;
      width: 60%;
      background-color: #2f363f;
      color: #fff;
      clip-path: polygon(41% 0, 100% 0%, 100% 100%, 0% 100%);
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      @media (max-width: 56.25em) {
        .techInfo-content--info {
          width: 100%;
          clip-path: none; } }
      @media (max-width: 37.5em) {
        .techInfo-content--info {
          width: 100%;
          clip-path: none; } }
      .techInfo-content--info__text {
        width: 60%;
        font-size: 1.6rem;
        font-weight: 300;
        margin: 0.5rem;
        line-height: 2.2rem;
        padding: 1rem;
        line-height: 2.8rem;
        text-align: justify; }
        @media (max-width: 56.25em) {
          .techInfo-content--info__text {
            width: 100%;
            text-align: left; } }
        @media (max-width: 37.5em) {
          .techInfo-content--info__text {
            width: 100%;
            text-align: left; } }
    .techInfo-content--icons {
      padding: 1rem;
      width: 40%; }
      @media (max-width: 56.25em) {
        .techInfo-content--icons {
          width: 60%;
          margin: 0rem auto;
          padding: 0.5rem; } }
      @media (max-width: 37.5em) {
        .techInfo-content--icons {
          width: 100%; } }

.fab {
  font-size: 6rem;
  padding: 1.5rem;
  border-radius: 50%;
  margin: 1rem; }
  @media (max-width: 56.25em) {
    .fab {
      font-size: 4rem;
      padding: 0.5rem; } }

.fa-node {
  color: #3c873a; }

.fa-js {
  color: #f0db4f;
  background-color: #323330; }

.fa-html5 {
  color: #f06529; }

.fa-css3 {
  color: #2965f1; }

.fa-sass {
  color: #c69; }

.fa-react {
  color: #61dbfb; }

.fa-bootstrap {
  color: #602c50; }

.footer {
  width: 100%;
  height: auto; }
  .footer-container {
    width: 100%;
    margin: 0 auto;
    background-color: #2f363f; }
  .footer-Icons {
    color: #fff;
    text-align: center; }
  .footer-Info {
    padding: 1rem;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 200;
    text-align: center;
    line-height: 2rem; }

.fas {
  font-size: 1.5rem;
  padding: 0.5rem; }

.media-icons {
  font-size: 2.5rem !important;
  padding: 1rem !important; }

.header {
  width: 100vw;
  height: 50vh;
  position: relative; }
  @media (max-width: 56.25em) {
    .header {
      width: 100%;
      height: 60vh; } }
  .header-imgCont {
    width: 100%;
    height: auto; }
    .header-imgCont--img {
      width: 100%;
      height: 50vh;
      object-fit: cover; }
      @media (max-width: 56.25em) {
        .header-imgCont--img {
          height: 60vh; } }
  .header-caption {
    width: 50%;
    padding: 2rem;
    font-size: 3.5rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 56.25em) {
      .header-caption {
        width: 100%; } }
    @media (max-width: 37.5em) {
      .header-caption {
        width: 100%; } }

.form-container {
  margin: 3rem 0rem;
  padding: 2rem;
  width: 100vw; }
  @media (max-width: 56.25em) {
    .form-container {
      padding: 1rem; } }
  @media (max-width: 37.5em) {
    .form-container {
      padding: 1rem; } }

.form-primary {
  padding: 1rem;
  width: 40%;
  height: auto;
  margin: 1rem auto; }
  @media (max-width: 56.25em) {
    .form-primary {
      width: 65%;
      padding: 0.5rem; } }
  @media (max-width: 37.5em) {
    .form-primary {
      width: 80%; } }
  .form-primary--sub {
    padding: 0.5rem;
    margin: 1rem 0rem;
    display: flex;
    font-size: 1.2rem; }
    .form-primary--sub_input {
      width: 100%;
      padding: 1.2rem; }

.form-terms {
  color: #2f363f; }

.creator {
  width: 100vw;
  height: auto;
  padding: 2rem; }
  @media (max-width: 37.5em) {
    .creator {
      padding: 0rem 0.5rem; } }
  .creator-story {
    width: 95%;
    padding: 1rem;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0.2rem 0.4rem 0.3rem rgba(47, 54, 63, 0.6); }
    @media (max-width: 37.5em) {
      .creator-story {
        width: 85%;
        padding: 0rem;
        margin: 6rem auto;
        box-shadow: 0rem 0rem 0.3rem rgba(47, 54, 63, 0.6); } }
    .creator-story--info {
      width: 100%;
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (max-width: 37.5em) {
        .creator-story--info {
          border-bottom: 1px solid #2f363f;
          width: 80%;
          height: auto;
          flex-direction: column;
          margin: 0rem auto; } }
      .creator-story--info__shape {
        width: 8rem;
        height: 8rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-0.8rem) translateY(0.2rem) skewX(5deg);
        position: relative;
        object-fit: cover; }
        @media (max-width: 75em) {
          .creator-story--info__shape {
            width: 10rem;
            height: 10rem;
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            transform: translateX(-0.1rem) translateY(0rem) skewX(1.5deg);
            object-fit: cover; } }
        @media (max-width: 56.25em) {
          .creator-story--info__shape {
            width: 10rem;
            height: 10rem;
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            transform: translateX(-0.1rem) translateY(0rem) skewX(1.5deg);
            object-fit: cover; } }
        @media (max-width: 37.5em) {
          .creator-story--info__shape {
            width: 15rem;
            height: 15rem;
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            transform: translateX(-0.1rem) translateY(1rem) skewX(1.5deg);
            object-fit: cover; } }
      .creator-story--info__img {
        height: 90%;
        transform: translateX(-0.2rem) translateY(1rem) scale(1.2);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all 0.5s;
        object-fit: cover; }
        @media (max-width: 75em) {
          .creator-story--info__img {
            transform: translateX(1.5rem) translateY(3rem) scale(1.8); } }
        @media (max-width: 56.25em) {
          .creator-story--info__img {
            transform: translateX(1.5rem) translateY(3.2rem) scale(1.8); } }
        @media (max-width: 37.5em) {
          .creator-story--info__img {
            width: 100%;
            height: 100%;
            transform: translateX(1.2rem) translateY(3rem) scale(1.5); } }
      .creator-story--info__caption {
        border: 2px solid green;
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-transform: uppercase;
        font-size: 1.6rem;
        color: #fff;
        letter-spacing: 0.3rem;
        text-align: center;
        transition: 0.5s ease-in;
        opacity: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; }
      .creator-story--info__name {
        background-color: #2f363f;
        padding: 0.4rem;
        color: #fff;
        width: 85%;
        transform: skewX(0deg);
        box-shadow: 0.3rem 0.2rem 0.3rem rgba(47, 54, 63, 0.8);
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        letter-spacing: 0.1rem;
        font-weight: 100; }
        @media (max-width: 75em) {
          .creator-story--info__name {
            width: 80%;
            margin: 0.2rem 0rem;
            padding: 0.5rem; } }
        @media (max-width: 56.25em) {
          .creator-story--info__name {
            width: 80%;
            margin: 0.2rem 0rem; } }
        @media (max-width: 37.5em) {
          .creator-story--info__name {
            width: 95%;
            margin: 2rem 0rem;
            box-shadow: none; } }
    .creator-story--text {
      width: 95%;
      font-size: 1.6rem;
      text-align: justify;
      margin: 2.5rem auto;
      line-height: 2.5rem;
      padding: 1.5rem; }
      @media (max-width: 56.25em) {
        .creator-story--text {
          margin: 1rem auto;
          padding: 1rem; } }
      @media (max-width: 37.5em) {
        .creator-story--text {
          margin: 0rem auto;
          padding: 1rem; } }

.creatorInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 1.5rem; }
  @media (max-width: 75em) {
    .creatorInfo {
      width: 100%;
      padding: 0.5rem; } }
  @media (max-width: 56.25em) {
    .creatorInfo {
      width: 100%;
      text-align: left;
      padding: 0.5rem;
      margin: 0rem; } }
  @media (max-width: 37.5em) {
    .creatorInfo {
      width: 100%;
      margin: 0rem; } }
  .creatorInfo-heading {
    font-size: 1.5rem; }
    @media (max-width: 75em) {
      .creatorInfo-heading {
        width: 90%;
        margin-left: 1rem;
        font-size: 1.6rem;
        padding: 0.2rem; } }
    @media (max-width: 56.25em) {
      .creatorInfo-heading {
        width: 90%;
        margin-left: 1rem;
        font-size: 1.6rem;
        padding: 0.4rem; } }
    @media (max-width: 37.5em) {
      .creatorInfo-heading {
        width: 90%;
        font-size: 1.6rem;
        margin-left: 0.4rem;
        padding: 0.4rem; } }
  .creatorInfo-caption {
    font-weight: 300;
    font-size: 1.4rem; }
    @media (max-width: 75em) {
      .creatorInfo-caption {
        width: 90%;
        margin-left: 1rem;
        padding: 0.2rem;
        color: #999999; } }
    @media (max-width: 56.25em) {
      .creatorInfo-caption {
        font-size: 1.4rem;
        width: 90%;
        margin-left: 1rem;
        padding: 0.4rem;
        color: #999999; } }
    @media (max-width: 37.5em) {
      .creatorInfo-caption {
        font-size: 1.4rem;
        width: 90%;
        margin-left: 0.4rem;
        padding: 0.4rem;
        color: #999999; } }

.g-row {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.5rem 0rem; }
  @media (max-width: 56.25em) {
    .g-row {
      flex-direction: column; } }
  @media (max-width: 37.5em) {
    .g-row {
      flex-direction: column; } }

.g-col {
  width: 46%;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 56.25em) {
    .g-col {
      width: 85%;
      height: auto;
      margin: 0 auto; } }
  @media (max-width: 37.5em) {
    .g-col {
      width: 100%; } }

.approach {
  width: 75%;
  padding: 2rem; }
  @media (max-width: 56.25em) {
    .approach {
      width: 100%;
      padding: 0.5rem; } }
  @media (max-width: 37.5em) {
    .approach {
      width: 100%;
      padding: 0.5rem; } }
  .approach-heading {
    padding: 1rem;
    margin: 1rem 0rem; }
  .approach-info {
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: justify;
    line-height: 2.4rem; }

.alertItem {
  width: 45%;
  padding: 0.8rem;
  margin: 0rem auto;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  transition: all 0.5s; }
  @media (max-width: 56.25em) {
    .alertItem {
      width: 80%;
      font-size: 0.7rem;
      border-radius: 0rem; } }
  @media (max-width: 37.5em) {
    .alertItem {
      width: 100%;
      font-size: 0.7rem;
      border-radius: 0rem; } }

.icon {
  color: #fff;
  margin-right: 0.5rem;
  display: none; }
  @media (min-width: 112.5em) {
    .icon {
      display: none; } }
  @media (max-width: 56.25em) {
    .icon {
      display: none; } }
  @media (max-width: 75em) {
    .icon {
      display: none; } }
  @media (max-width: 37.5em) {
    .icon {
      display: block;
      margin-right: 3rem; } }
  .icon-btn {
    padding: 0.8rem;
    background-color: #2f363f;
    border: none; }

.mobNav {
  background-color: rgba(47, 54, 63, 0.3);
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 999;
  width: 0%;
  height: 100vh;
  overflow-x: hidden;
  transition: all 0.3s; }
  .mobNav-container {
    background-color: #fff;
    width: 70%;
    height: 100%; }
  .mobNav-items {
    padding: 1rem;
    width: 98%;
    margin: 0rem auto; }
    .mobNav-items--list {
      margin: 0.4rem 0rem; }
      .mobNav-items--list__link {
        border-right: 0.4rem solid #2f363f;
        box-shadow: 0.3rem 0.2rem 0.3rem rgba(47, 54, 63, 0.8);
        display: block;
        padding: 1.5rem;
        text-align: center;
        text-decoration: none;
        font-size: 1.6rem;
        color: #2f363f;
        border-radius: 0.5px; }
        .mobNav-items--list__link:hover {
          background-color: #2f363f;
          color: #fff;
          transform: translateX(1rem);
          transition: all 0.5s; }
          @media (max-width: 56.25em) {
            .mobNav-items--list__link:hover {
              transform: none;
              transition: none; } }
          @media (max-width: 37.5em) {
            .mobNav-items--list__link:hover {
              transform: none;
              transition: none; } }

.fa-bars {
  font-size: 2rem;
  color: #fff; }
