.icon {
  //@extend  border: 1px solid red;
  color: $white-color;
  margin-right: 0.5rem;
  display: none;

  @include respond(big-desktop) {
    display: none;
  }

  @include respond(tab-port) {
    display: none;
  }
  @include respond(tab-land) {
    display: none;
  }
  @include respond(phone) {
    display: block;
    margin-right: 3rem;
  }

  &-btn {
    padding: 0.8rem;
    background-color: $black-custom-1;
    border: none;
  }
}

.mobNav {
  // border: 2px solid red;
  background-color: rgba($black-custom-1, 0.3);
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 999;
  width: 0%;
  height: 100vh;
  overflow-x: hidden;
  transition: all 0.3s;
  &-container {
    // border: 1px solid blue;
    background-color: $white-color;
    width: 70%;
    height: 100%;
    // transition: all 0.8s;
  }
  &-items {
    // border: 1px solid red;
    padding: 1rem;
    width: 98%;
    margin: 0rem auto;
    &--list {
      // background-color: $black-custom-1;
      margin: 0.4rem 0rem;

      &__link {
        border-right: 0.4rem solid $black-custom-1;
        box-shadow: 0.3rem 0.2rem 0.3rem rgba($black-custom-1, 0.8);
        display: block;
        padding: 1.5rem;
        text-align: center;
        text-decoration: none;
        font-size: 1.6rem;
        color: $black-custom-1;
        border-radius: 0.5px;
        &:hover {
          background-color: $black-custom-1;
          color: $white-color;
          transform: translateX(1rem);
          transition: all 0.5s;

          @include respond(tab-port) {
            transform: none;
            transition: none;
          }

          @include respond(phone) {
            transform: none;
            transition: none;
          }
        }
      }
    }
  }
}

.fa-bars {
  font-size: 2rem;
  color: $white-color;
}
